<table border="1">
    <caption>My Todos</caption>
    <thead>
        <tr>
            <th>Description</th>
            <th>Completed</th>
            <th>When</th>     
        </tr>
    </thead>
    <tbody>
        <!-- for (Todo todo: todos ) {}-->
        <tr *ngFor="let todo of todos">
            <td>{{todo.description}}</td>
            <td>{{todo.done}}</td>
            <td>{{todo.targetDate | date | uppercase}}</td> <!-- you can converte one format with another wishing the pipe |-->
        </tr>
    </tbody>
</table>
